body{
  margin: 0px 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
}
h1{
  margin-top: 0px;
}

nav{
  border-bottom: 1px solid #302f2f;
  height: 70px;
}
.nav-bg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0px 40px;
}
.nav-bg h1{
  margin-top: 20px;
}
#circled-letter{
  padding: 10px 15px;
  background-color: #00ff9d;
  border-radius: 50%;
  cursor: pointer;
}


.welcome{
  height: 100vh;
  margin: 0% auto;
  padding: 50% 0;
  align-self: center;
  text-align: center;
}

.welcome-form button{
  margin-top: 30px;
  padding: 10px 10px;
  background: #00ff9d;
  color: #000;
  border: none;
  border-radius: 5px;
}
.welcome-form button a{
  text-decoration: none;
  color: inherit;
}
.form-group input{
  background: inherit;
  margin-top: 20px;
  color: #fff;
  border: 1px solid #00ff9d;
  border-radius: 5px;
  width: 45%;
  height: 50px;
  padding-left: 10px;
}

.form-group input::placeholder{
  color: #868181;
  padding-left: 10px;
  font-size: 15px;
  letter-spacing: 2px;
}

.App{
  background: #000;
  color: #fff;
  position: relative;
  height: 100vh;
}

.homepage{
  height: 100vh;
}

.App footer{
  color: #585656;
  padding: 0px 40px;
  position: absolute;
  bottom: 5%;
}


.rules{
  background: #201f1f9d;
  position: absolute;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: inherit;
  height: 90%;
  z-index: 999;
}


.rul{
  transition: transform 2s ease;
  background: #0c0c0c;
  width: 100%;
  height: 50%;
  align-self: flex-end;
  padding: 20px 30px 20px 30px;
  text-align: justify;
  border-radius: 10px 10px 0 0;
  color: #fff;
  border: 1px solid #00ff9d;
  animation: swipe-up 0.2s linear;
  -webkit-animation: swipe-up 0.2s linear;
}
@keyframes swipe-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}


.ruless{
  margin-top: 30px;
  background: #201f1f9d;
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80%;
  z-index: 1000
}
.rull{
  background: #0c0c0c;
  width: 40%;
  padding: 20px 30px 20px 30px;
  text-align: justify;
  border-radius: 10px 10px 0 0;
  color: #fff;
  top: 0%;
  border: 1px solid #00ff9d;
  margin: 30px 30px;
  
}

.kkey{
  padding: 8px 13px;
  margin: 12px 9px;
  font-size: 30px;
  width: 14%;
  color: white;
  background: #464646;
  border-radius: 10px;
  border: none;
}

.keysz{
  width: 90%;
  margin: 0px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button:disabled{
  background: #a39393;
}

.chkbtn:disabled{
  background: #3b6153;
}

.game{
  width: 90%;
  margin: 10px auto;
  display: flex;
  height: 350px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gg{
  padding-bottom: 10px;
}

.lftside form{
  width: 150px;
}
.lftside input{
  background: #000;
  color: #fff;
  height: 50px;
  width: 90%;
  border: none;
  font-size: 40px;
  letter-spacing: 10px;
}
/*input{
  margin: 20px 30px 10px 0px;
  background: #000;
  color: #fff;
  border: 1px solid #00ff9d;
}*/
